{% extends 'blackbook/base.html' %}

{% load iban %}
{% load accounttags %}

{% block title %}
    Accounts
{% endblock title %}

{% block breadcrumbs %}
    <li>Accounts</li>
    <li>{{ account_type.name|capfirst }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
            <div class="level-item">
                <a class="button is-primary" href="#">
                    Add transaction
                </a>
            </div>
            <div class="level-item">
                <a class="button is-primary" href="{% url "blackbook:accounts_add" %}">
                    Add account
                </a>
            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon">
                    <i class="fas {{ account_type.icon }}"></i>
                </span>
                <span>{{ account_type.name|capfirst }}</span>
            </p>
        </header>
        <div class="card-content">
            {% for account in accounts %}
                {% if not account.is_leaf_node %}
                    {% if account.level == 0 %}
                        <p class="title is-3">
                    {% else %}
                        <p class="subtitle is-{{ account.level|add:"4" }}">{% filter multiply:account.level %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfilter %}
                    {% endif %}
                            {{ account.name }} 
                            {% if account.balance %}
                                {% for currency in account.balance %}
                                    <span class="tag">
                                        <span class="icon">
                                            <i class="fas fa-coins"></i>
                                        </span>
                                        <span>{{ currency.0|floatformat:"2" }} {{ currency.1 }}</span>
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </p>
                {% else %}
                    {% cycle '<div class="tile is-ancestor">' '' '' '' as ancestor %}
                        <div class="tile is-parent">
                            <div class="card is-card-widget tile is-child">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        <span class="icon">
                                            <i class="fas fa-landmark"></i>
                                        </span>
                                        {{ account.iban|iban|default:"-" }}
                                    </p>
                                    <a class="button is-info is-small" href="{% url "blackbook:accounts_view" account.type account.uuid %}" type="button">
                                        <span class="icon">
                                            <i class="fas fa-eye"></i>
                                        </span>
                                    </a>
                                    <a class="button is-primary is-small" href="{% url "blackbook:accounts_edit" account.uuid %}" type="button">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a class="button is-danger is-small jb-modal" data-target="modal-account-delete-{{ account.uuid }}" type="button">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </header>
                                <div class="card-content">
                                    <div class="level is-mobile">
                                        <div class="level-item">
                                            <div class="is-widget-label">
                                                <h3 class="subtitle is-spaced">{{ account.name }}</h3>
                                                <h1 class="title">
                                                    {% if account.balance %}
                                                        {% for currency in account.balance %}
                                                            {{ currency.0|floatformat:"2" }} {{ currency.1 }}
                                                            {% if not forloop.last %}
                                                                <br />
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="level is-mobile">
                                        {% for currency in account.currencies.all %}
                                            <div class="level-item">
                                                <span class="tag is-info">{{ currency.code }}</span>
                                            </div>
                                        {% endfor %}
                                        <div class="level-item">
                                            <span class="tag is-info {% if not account.is_active %}is-light{% endif %}">Active</span>
                                        </div>
                                        <div class="level-item">
                                            <span class="tag is-info {% if not account.include_on_net_worth %}is-light{% endif %}">Net worth</span>
                                        </div>
                                        <div class="level-item">
                                            <span class="tag is-info {% if not account.include_on_dashboard %}is-light{% endif %}">Dashboard</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% cycle '' '' '' '</div>' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block modals %}
    {% for account in accounts %}
        <div id="modal-account-delete-{{ account.uuid }}" class="modal">
            <div class="modal-background jb-modal-close"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm action</p>
                    <button class="delete jb-modal-close" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <p>This will permanently delete account <b>{{ account.name }} ({{ account.accountstring }})</b>.</p>
                    <p>Are you sure?</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button jb-modal-close">Cancel</button>
                    <form method="post" action="{% url "blackbook:accounts_delete" %}">
                        {% csrf_token %}
                        <input type="hidden" name="account_uuid" value="{{ account.uuid }}">
                        <button class="button is-danger" type="submit">Delete</button>
                    </form>
                </footer>
            </div>
            <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
        </div>
    {% endfor %}
{% endblock modals %}