{% load static %}

<!DOCTYPE html>
<html lang="en" {% block html_class %} class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded" {% endblock html_class %}>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>BlackBook - {% block title %}Dashboard{% endblock %}</title>

        <!-- Bulma is included -->
        <link rel="stylesheet" href="{% static "css/main.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/bulma-tooltip.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/blackbook.css" %}" /> 
        <link rel="stylesheet" href="{% static "css/bulma-tagsinput.min.css" %}" />

        <!-- Fonts -->
        <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css" />
        <!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css"> -->

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/8189f10079.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app">
            {% block body %}{% endblock body %}
        </div>

        <div id="ui-overlay" class="ui-overlay is-hidden"></div>

        {% block forms %}{% endblock forms %}
        {% block modals %}{% endblock modals %}

        <script type="text/javascript" src="{% static "js/perfect-scrollbar.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/main.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bulma-tagsinput.min.js" %}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
        <script type="text/javascript">
            BulmaTagsInput.attach('input[data-type="tags"], input[type="tags"], select[data-type="tags"], select[type="tags"]', {
                allowDuplicates: false,
                caseSensitive: true,
                clearSelectionOnTyping: false,
                closeDropdownOnItemSelect: true,
                delimiter: ',',
                freeInput: true,
                highlightDuplicate: true,
                highlightMatchesString: true,
                itemValue: undefined,
                itemText: undefined,
                maxTags: undefined,
                maxChars: undefined,
                minChars: 1,
                noResultsLabel: 'No results found',
                placeholder: '',
                removable: true,
                searchMinChars: 1,
                searchOn: 'text',
                selectable: false,
                source: undefined,
                tagClass: '',
                trim: true
            });

            {% block javascript %}{% endblock %}
        </script>
    </body>
</html>
