{% extends 'base.html' %}

{% block html-class %}{% endblock %}

{% block title %}
    reset password
{% endblock %}

{% block body %}
    <section class="section hero is-fullheight is-error-section">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-three-fifths">
                        <div class="card has-card-header-background">
                            <header class="card-header">    
                                <p class="card-header-title">
                                    <span class="icon"><i class="fas fa-lock"></i></span>
                                    <span>BlackBook - Password reset</span>
                                </p>
                            </header>
                            <div class="card-content">
                                <article class="message is-info">
                                    <div class="message-body">
                                        <p>Please enter your e-mail to reset your password.</p>
                                    </div>
                                </article>

                                <form method="post" action="{% url "password_reset" %}">
                                    {% csrf_token %}
                                    
                                    <div class="field">
                                        <label class="label">E-mail Address</label>
                                        <div class="control">
                                            <input type="email" autocomplete="on" name="{{ form.email.name }}" class="input" required autofocus>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button type="submit" class="button is-black">
                                                Reset my password
                                            </button>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}