{% extends 'base.html' %}

{% block html-class %}{% endblock %}

{% block title %}
    reset password
{% endblock %}

{% block body %}
    <section class="section hero is-fullheight is-error-section">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-three-fifths">
                        <div class="card has-card-header-background">
                            <header class="card-header">    
                                <p class="card-header-title">
                                    <span class="icon"><i class="fas fa-lock"></i></span>
                                    <span>BlackBook - Enter new password</span>
                                </p>
                            </header>
                            <div class="card-content">
                                {% if not validlink %}
                                    <article class="message is-danger">
                                        <div class="message-header">
                                            Error 
                                        </div>
                                        <div class="message-body">
                                            <p>This link is not valid, possible because it was already used.</p>
                                        </div>
                                    </article>
                                {% endif %}

                                {% if form.errors %}
                                    <article class="message is-danger">
                                        <div class="message-header">
                                            Error 
                                        </div>
                                        <div class="message-body">
                                            <p>
                                                {% for field, errors in form.errors.items %}
                                                    {{ errors|join:"<br />"}}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </article>
                                {% endif %}

                                <form method="post">
                                    {% csrf_token %}
                                    
                                    <div class="field">
                                        <label class="label">New password</label>
                                        <div class="control">
                                            <input type="password" autocomplete="on" name="{{ form.new_password1.name }}" class="input" required autofocus>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Confirm new password</label>
                                        <div class="control">
                                            <input type="password" autocomplete="on" name="{{ form.new_password2.name }}" class="input" required>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <button type="submit" class="button is-black">
                                                Update my password
                                            </button>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}